

<app-alert [alertMessage]="alertMessage"></app-alert>

<main class="container">
  <section class="layout">
    <h1>Pm2</h1>
    <p>Es una aplicación que administra el inicio del backend</p>
    <article class="button-layout">
      <button
        class="btn btn-danger text-xl-center button-text"
        (click)="onKill()"
      >
        kill
      </button>
      <button
        class="btn btn-success text-xl-center button-text"
        (click)="onResurrect()"
      >
        resurrect
      </button>
      <button
        class="btn btn-outline-success text-xl-center button-text"
        (click)="onRestart()"
      >
        restart
      </button>
    </article>
    <p class="monospaced">
      {{ message.response }}
    </p>

    <p class="monospaced">
      {{ message | json }}
    </p>
  </section>
</main>
